.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: var(--shadow-sm);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-links a, .navbar-links button {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: var(--primary-color);
}

.navbar-links button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}

.navbar-links button:hover {
  color: var(--danger-color);
}